<div id="cssmenu">
  <ul>
    <li>
      <a href="javascript:void(0)" routerLink=""
        ><img class="logo" src="../../../assets/mearsk.png" alt="Dashboard"
      /></a>
    </li>
    <li style="display: none;">
      <a href="javascript:void(0)" routerLink=""
        ><img class="img-menu" src="../../../assets/dashboard.png" alt="Dashboard"
      /></a>
    </li>
    <li class="has-sub" style="display: none;">
      <a href="javascript:void(0)"
        ><img class="img-menu" src="../../../assets/Contact_Account.png" alt="Contact Account"
      /></a>
      <ul>
        <li>
          <a href="javascript:void(0)" routerLink="../contact"
            ><img class="img-sub-menu" src="../../../assets/contact.png" alt="Contact" /><span
              class="padding-left-12"
              translate
              >Contact</span
            ></a
          >
        </li>
        <li class="last">
          <a href="javascript:void(0)" routerLink="../account"
            ><img class="img-sub-menu" src="../../../assets/Account.png" alt="Account" /><span
              class="padding-left-12"
              translate
              >Account</span
            ></a
          >
        </li>
      </ul>
    </li>
    <li style="display: none;">
      <a href="javascript:void(0)" routerLink="../opportunity"
        ><img class="img-menu" src="../../../assets/opportunity.png" alt="Opportunity"
      /></a>
    </li>
    <li style="display: none;">
      <a href="javascript:void(0)" routerLink="../task">
        <img class="img-menu" src="../../../assets/task.png" alt="Task"
      /></a>
    </li>
    <li class="has-sub" style="display: none;">
      <a href="javascript:void(0)"><img class="img-menu" src="../../../assets/Analysis.png" alt="Analysis" /></a>
      <ul>
        <li>
          <a href="javascript:void(0)" routerLink="../dsr"
            ><img class="img-sub-menu" src="../../../assets/day-book.png" alt="Daily Sales Report" /><span
              class="padding-left-12"
              translate
              >Daily Dales Report</span
            ></a
          >
        </li>
        <li>
          <a href="javascript:void(0)"
            ><img class="img-sub-menu" src="../../../assets/report.png" alt="Custom Report 1" /><span
              class="padding-left-12"
              translate
              >Custom-Report-1</span
            ></a
          >
        </li>
        <li class="last">
          <a href="javascript:void(0)"
            ><img class="img-sub-menu" src="../../../assets/report.png" alt="Custom Report 2" /><span
              class="padding-left-12"
              translate
              >Custom-Report-2</span
            ></a
          >
        </li>
      </ul>
    </li>
    <li class="last">
      <a href="javascript:void(0)" routerLink="../settings"
        ><img class="img-menu" src="../../../assets/settings-white.png" alt="Settings"
      /></a>
    </li>
  </ul>
</div>
