@font-face {
  font-family: 'Nunito-Light';
  src: url('Nunito-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito-Regular';
  src: url('Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito-SemiBold';
  src: url('Nunito-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Nunito-Bold';
  src: url('Nunito-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
