<div class="funnel-view w-100">
  <div class="col-12">
    <div class="card filters">
      <div class="inner-top pb-0">
        <div class="row">
          <div class="col-lg-auto col-md-auto col-sm-auto mb-10">
            <span class="page-title">Opportunity (3)</span>
          </div>
          <div class="col-lg col-md col-sm">
            <div class="row justify-content-end">
              <div class="col-lg-4 col-md-5 pr-lg-0 mb-10">
                <div class="input-group search-grp">
                  <input type="text" class="form-control" placeholder="Search Opportunity" />
                  <div class="input-group-append">
                    <span class="input-group-text"><i class="fa fa-search"></i></span>
                  </div>
                </div>
              </div>
              <div class="col-auto pr-lg-0 pr-sm-0 mb-10">
                <div class="dropdown">
                  <a class="btn btn-outline-light dropdown-toggle" href="#" role="button" data-toggle="dropdown">
                    Funnel View
                  </a>

                  <div class="dropdown-menu" href="javascript:;" (click)="getlistview()">
                    <a class="dropdown-item">
                      <i class="fas fa-bars"></i>
                      List View
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-auto mb-10">
                <input type="button" class="btn btn-eva mr-2" value="Edit Columns" />
                <input type="button" class="btn btn-secondary" value="Add Column" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-12">
    <div class="card mb-0 widget-cntnr">
      <div class="widget">
        <div class="header">
          <h6>New (9)</h6>
          <span>
            <i class="fas fa-rupee" style="font-size: 11px"></i>
            <span>90,000</span>
          </span>
          <a href="javascript:;" class="text-eva float-right">View Details</a>
        </div>
        <div class="body">
          <div class="opp-widget">
            <div class="name">Debasish Mohanty</div>
            <div>+91 9874562100</div>
            <div class="amount">
              <i class="fas fa-rupee"></i>
              <b>10,000</b>
            </div>
            <div class="icons">
              <a href="javascript:;" (click)="getopportunitydetails()" title="View Details">
                <i class="fas fa-eye"></i>
              </a>
              <a href="javascript:;" title="View History" data-toggle="modal" data-target="#mdlOpportunityHistory">
                <i class="fas fa-history"></i>
              </a>

              <a href="javascript:;" title="Add Task">
                <i class="fas fa-tasks"></i>
              </a>

              <span class="dropdown">
                <a href="javascript:;" class="fas fa-ellipsis-h mr-0" data-toggle="dropdown"></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file"></i>
                    Add Log
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-people-arrows"></i>
                    Transfer Opportunity
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file-medical"></i>
                    Add Documents
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                  </a>
                </div>
              </span>
            </div>
          </div>
          <div class="opp-widget">
            <div class="name">Debasish Mohanty</div>
            <div>+91 9874562100</div>
            <div class="amount">
              <i class="fas fa-rupee"></i>
              <b>10,000</b>
            </div>
            <div class="icons">
              <a href="javascript:;" (click)="getopportunitydetails()" title="View Details">
                <i class="fas fa-eye"></i>
              </a>
              <a href="javascript:;" title="View History" data-toggle="modal" data-target="#mdlOpportunityHistory">
                <i class="fas fa-history"></i>
              </a>

              <a href="javascript:;" title="Add Task">
                <i class="fas fa-tasks"></i>
              </a>

              <span class="dropdown">
                <a href="javascript:;" class="fas fa-ellipsis-h mr-0" data-toggle="dropdown"></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file"></i>
                    Add Log
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-people-arrows"></i>
                    Transfer Opportunity
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file-medical"></i>
                    Add Documents
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                  </a>
                </div>
              </span>
            </div>
          </div>
          <div class="opp-widget">
            <div class="name">Debasish Mohanty</div>
            <div>+91 9874562100</div>
            <div class="amount">
              <i class="fas fa-rupee"></i>
              <b>10,000</b>
            </div>
            <div class="icons">
              <a href="javascript:;" (click)="getopportunitydetails()" title="View Details">
                <i class="fas fa-eye"></i>
              </a>
              <a href="javascript:;" title="View History" data-toggle="modal" data-target="#mdlOpportunityHistory">
                <i class="fas fa-history"></i>
              </a>

              <a href="javascript:;" title="Add Task">
                <i class="fas fa-tasks"></i>
              </a>

              <span class="dropdown">
                <a href="javascript:;" class="fas fa-ellipsis-h mr-0" data-toggle="dropdown"></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file"></i>
                    Add Log
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-people-arrows"></i>
                    Transfer Opportunity
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file-medical"></i>
                    Add Documents
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                  </a>
                </div>
              </span>
            </div>
          </div>
          <div class="opp-widget">
            <div class="name">Debasish Mohanty</div>
            <div>+91 9874562100</div>
            <div class="amount">
              <i class="fas fa-rupee"></i>
              <b>10,000</b>
            </div>
            <div class="icons">
              <a href="javascript:;" (click)="getopportunitydetails()" title="View Details">
                <i class="fas fa-eye"></i>
              </a>
              <a href="javascript:;" title="View History" data-toggle="modal" data-target="#mdlOpportunityHistory">
                <i class="fas fa-history"></i>
              </a>

              <a href="javascript:;" title="Add Task">
                <i class="fas fa-tasks"></i>
              </a>

              <span class="dropdown">
                <a href="javascript:;" class="fas fa-ellipsis-h mr-0" data-toggle="dropdown"></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file"></i>
                    Add Log
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-people-arrows"></i>
                    Transfer Opportunity
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file-medical"></i>
                    Add Documents
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                  </a>
                </div>
              </span>
            </div>
          </div>
          <div class="opp-widget">
            <div class="name">Debasish Mohanty</div>
            <div>+91 9874562100</div>
            <div class="amount">
              <i class="fas fa-rupee"></i>
              <b>10,000</b>
            </div>
            <div class="icons">
              <a href="javascript:;" (click)="getopportunitydetails()" title="View Details">
                <i class="fas fa-eye"></i>
              </a>
              <a href="javascript:;" title="View History" data-toggle="modal" data-target="#mdlOpportunityHistory">
                <i class="fas fa-history"></i>
              </a>

              <a href="javascript:;" title="Add Task">
                <i class="fas fa-tasks"></i>
              </a>

              <span class="dropdown">
                <a href="javascript:;" class="fas fa-ellipsis-h mr-0" data-toggle="dropdown"></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file"></i>
                    Add Log
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-people-arrows"></i>
                    Transfer Opportunity
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file-medical"></i>
                    Add Documents
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                  </a>
                </div>
              </span>
            </div>
          </div>
          <div class="opp-widget">
            <div class="name">Debasish Mohanty</div>
            <div>+91 9874562100</div>
            <div class="amount">
              <i class="fas fa-rupee"></i>
              <b>10,000</b>
            </div>
            <div class="icons">
              <a href="javascript:;" (click)="getopportunitydetails()" title="View Details">
                <i class="fas fa-eye"></i>
              </a>
              <a href="javascript:;" title="View History" data-toggle="modal" data-target="#mdlOpportunityHistory">
                <i class="fas fa-history"></i>
              </a>

              <a href="javascript:;" title="Add Task">
                <i class="fas fa-tasks"></i>
              </a>

              <span class="dropdown">
                <a href="javascript:;" class="fas fa-ellipsis-h mr-0" data-toggle="dropdown"></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file"></i>
                    Add Log
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-people-arrows"></i>
                    Transfer Opportunity
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file-medical"></i>
                    Add Documents
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                  </a>
                </div>
              </span>
            </div>
          </div>
          <div class="opp-widget">
            <div class="name">Debasish Mohanty</div>
            <div>+91 9874562100</div>
            <div class="amount">
              <i class="fas fa-rupee"></i>
              <b>10,000</b>
            </div>
            <div class="icons">
              <a href="javascript:;" (click)="getopportunitydetails()" title="View Details">
                <i class="fas fa-eye"></i>
              </a>
              <a href="javascript:;" title="View History" data-toggle="modal" data-target="#mdlOpportunityHistory">
                <i class="fas fa-history"></i>
              </a>

              <a href="javascript:;" title="Add Task">
                <i class="fas fa-tasks"></i>
              </a>

              <span class="dropdown">
                <a href="javascript:;" class="fas fa-ellipsis-h mr-0" data-toggle="dropdown"></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file"></i>
                    Add Log
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-people-arrows"></i>
                    Transfer Opportunity
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file-medical"></i>
                    Add Documents
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                  </a>
                </div>
              </span>
            </div>
          </div>
          <div class="opp-widget">
            <div class="name">Debasish Mohanty</div>
            <div>+91 9874562100</div>
            <div class="amount">
              <i class="fas fa-rupee"></i>
              <b>10,000</b>
            </div>
            <div class="icons">
              <a href="javascript:;" (click)="getopportunitydetails()" title="View Details">
                <i class="fas fa-eye"></i>
              </a>
              <a href="javascript:;" title="View History" data-toggle="modal" data-target="#mdlOpportunityHistory">
                <i class="fas fa-history"></i>
              </a>

              <a href="javascript:;" title="Add Task">
                <i class="fas fa-tasks"></i>
              </a>

              <span class="dropdown">
                <a href="javascript:;" class="fas fa-ellipsis-h mr-0" data-toggle="dropdown"></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file"></i>
                    Add Log
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-people-arrows"></i>
                    Transfer Opportunity
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file-medical"></i>
                    Add Documents
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                  </a>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="widget">
        <div class="header">
          <h6>Follow-up (2)</h6>
          <span>
            <i class="fas fa-rupee" style="font-size: 11px"></i>
            <span>20,000</span>
          </span>
          <a href="javascript:;" class="text-eva float-right">View Details</a>
        </div>
        <div class="body">
          <div class="opp-widget">
            <div class="name">Debasish Mohanty</div>
            <div>+91 9874562100</div>
            <div class="amount">
              <i class="fas fa-rupee"></i>
              <b>10,000</b>
            </div>
            <div class="icons">
              <a href="javascript:;" (click)="getopportunitydetails()" title="View Details">
                <i class="fas fa-eye"></i>
              </a>
              <a href="javascript:;" title="View History" data-toggle="modal" data-target="#mdlOpportunityHistory">
                <i class="fas fa-history"></i>
              </a>

              <a href="javascript:;" title="Add Task">
                <i class="fas fa-tasks"></i>
              </a>

              <span class="dropdown">
                <a href="javascript:;" class="fas fa-ellipsis-h mr-0" data-toggle="dropdown"></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file"></i>
                    Add Log
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-people-arrows"></i>
                    Transfer Opportunity
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file-medical"></i>
                    Add Documents
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                  </a>
                </div>
              </span>
            </div>
          </div>
          <div class="opp-widget">
            <div class="name">Debasish Mohanty</div>
            <div>+91 9874562100</div>
            <div class="amount">
              <i class="fas fa-rupee"></i>
              <b>10,000</b>
            </div>
            <div class="icons">
              <a href="javascript:;" (click)="getopportunitydetails()" title="View Details">
                <i class="fas fa-eye"></i>
              </a>
              <a href="javascript:;" title="View History" data-toggle="modal" data-target="#mdlOpportunityHistory">
                <i class="fas fa-history"></i>
              </a>

              <a href="javascript:;" title="Add Task">
                <i class="fas fa-tasks"></i>
              </a>

              <span class="dropdown">
                <a href="javascript:;" class="fas fa-ellipsis-h mr-0" data-toggle="dropdown"></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file"></i>
                    Add Log
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-people-arrows"></i>
                    Transfer Opportunity
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file-medical"></i>
                    Add Documents
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                  </a>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="widget">
        <div class="header">
          <h6>Review (2)</h6>
          <span>
            <i class="fas fa-rupee" style="font-size: 11px"></i>
            <span>20,000</span>
          </span>
          <a href="javascript:;" class="text-eva float-right">View Details</a>
        </div>
        <div class="body">
          <div class="opp-widget">
            <div class="name">Debasish Mohanty</div>
            <div>+91 9874562100</div>
            <div class="amount">
              <i class="fas fa-rupee"></i>
              <b>10,000</b>
            </div>
            <div class="icons">
              <a href="javascript:;" (click)="getopportunitydetails()" title="View Details">
                <i class="fas fa-eye"></i>
              </a>
              <a href="javascript:;" title="View History" data-toggle="modal" data-target="#mdlOpportunityHistory">
                <i class="fas fa-history"></i>
              </a>

              <a href="javascript:;" title="Add Task">
                <i class="fas fa-tasks"></i>
              </a>

              <span class="dropdown">
                <a href="javascript:;" class="fas fa-ellipsis-h mr-0" data-toggle="dropdown"></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file"></i>
                    Add Log
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-people-arrows"></i>
                    Transfer Opportunity
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file-medical"></i>
                    Add Documents
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                  </a>
                </div>
              </span>
            </div>
          </div>
          <div class="opp-widget">
            <div class="name">Debasish Mohanty</div>
            <div>+91 9874562100</div>
            <div class="amount">
              <i class="fas fa-rupee"></i>
              <b>10,000</b>
            </div>
            <div class="icons">
              <a href="javascript:;" (click)="getopportunitydetails()" title="View Details">
                <i class="fas fa-eye"></i>
              </a>
              <a href="javascript:;" title="View History" data-toggle="modal" data-target="#mdlOpportunityHistory">
                <i class="fas fa-history"></i>
              </a>

              <a href="javascript:;" title="Add Task">
                <i class="fas fa-tasks"></i>
              </a>

              <span class="dropdown">
                <a href="javascript:;" class="fas fa-ellipsis-h mr-0" data-toggle="dropdown"></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file"></i>
                    Add Log
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-people-arrows"></i>
                    Transfer Opportunity
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file-medical"></i>
                    Add Documents
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                  </a>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="widget">
        <div class="header">
          <h6>Demo (6)</h6>
          <span>
            <i class="fas fa-rupee" style="font-size: 11px"></i>
            <span>60,000</span>
          </span>
          <a href="javascript:;" class="text-eva float-right">View Details</a>
        </div>
        <div class="body">
          <div class="opp-widget">
            <div class="name">Debasish Mohanty</div>
            <div>+91 9874562100</div>
            <div class="amount">
              <i class="fas fa-rupee"></i>
              <b>10,000</b>
            </div>
            <div class="icons">
              <a href="javascript:;" (click)="getopportunitydetails()" title="View Details">
                <i class="fas fa-eye"></i>
              </a>
              <a href="javascript:;" title="View History" data-toggle="modal" data-target="#mdlOpportunityHistory">
                <i class="fas fa-history"></i>
              </a>

              <a href="javascript:;" title="Add Task">
                <i class="fas fa-tasks"></i>
              </a>

              <span class="dropdown">
                <a href="javascript:;" class="fas fa-ellipsis-h mr-0" data-toggle="dropdown"></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file"></i>
                    Add Log
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-people-arrows"></i>
                    Transfer Opportunity
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file-medical"></i>
                    Add Documents
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                  </a>
                </div>
              </span>
            </div>
          </div>
          <div class="opp-widget">
            <div class="name">Debasish Mohanty</div>
            <div>+91 9874562100</div>
            <div class="amount">
              <i class="fas fa-rupee"></i>
              <b>10,000</b>
            </div>
            <div class="icons">
              <a href="javascript:;" (click)="getopportunitydetails()" title="View Details">
                <i class="fas fa-eye"></i>
              </a>
              <a href="javascript:;" title="View History" data-toggle="modal" data-target="#mdlOpportunityHistory">
                <i class="fas fa-history"></i>
              </a>

              <a href="javascript:;" title="Add Task">
                <i class="fas fa-tasks"></i>
              </a>

              <span class="dropdown">
                <a href="javascript:;" class="fas fa-ellipsis-h mr-0" data-toggle="dropdown"></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file"></i>
                    Add Log
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-people-arrows"></i>
                    Transfer Opportunity
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file-medical"></i>
                    Add Documents
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                  </a>
                </div>
              </span>
            </div>
          </div>
          <div class="opp-widget">
            <div class="name">Debasish Mohanty</div>
            <div>+91 9874562100</div>
            <div class="amount">
              <i class="fas fa-rupee"></i>
              <b>10,000</b>
            </div>
            <div class="icons">
              <a href="javascript:;" (click)="getopportunitydetails()" title="View Details">
                <i class="fas fa-eye"></i>
              </a>
              <a href="javascript:;" title="View History" data-toggle="modal" data-target="#mdlOpportunityHistory">
                <i class="fas fa-history"></i>
              </a>

              <a href="javascript:;" title="Add Task">
                <i class="fas fa-tasks"></i>
              </a>

              <span class="dropdown">
                <a href="javascript:;" class="fas fa-ellipsis-h mr-0" data-toggle="dropdown"></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file"></i>
                    Add Log
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-people-arrows"></i>
                    Transfer Opportunity
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file-medical"></i>
                    Add Documents
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                  </a>
                </div>
              </span>
            </div>
          </div>
          <div class="opp-widget">
            <div class="name">Debasish Mohanty</div>
            <div>+91 9874562100</div>
            <div class="amount">
              <i class="fas fa-rupee"></i>
              <b>10,000</b>
            </div>
            <div class="icons">
              <a href="javascript:;" (click)="getopportunitydetails()" title="View Details">
                <i class="fas fa-eye"></i>
              </a>
              <a href="javascript:;" title="View History" data-toggle="modal" data-target="#mdlOpportunityHistory">
                <i class="fas fa-history"></i>
              </a>

              <a href="javascript:;" title="Add Task">
                <i class="fas fa-tasks"></i>
              </a>

              <span class="dropdown">
                <a href="javascript:;" class="fas fa-ellipsis-h mr-0" data-toggle="dropdown"></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file"></i>
                    Add Log
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-people-arrows"></i>
                    Transfer Opportunity
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file-medical"></i>
                    Add Documents
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                  </a>
                </div>
              </span>
            </div>
          </div>
          <div class="opp-widget">
            <div class="name">Debasish Mohanty</div>
            <div>+91 9874562100</div>
            <div class="amount">
              <i class="fas fa-rupee"></i>
              <b>10,000</b>
            </div>
            <div class="icons">
              <a href="javascript:;" (click)="getopportunitydetails()" title="View Details">
                <i class="fas fa-eye"></i>
              </a>
              <a href="javascript:;" title="View History" data-toggle="modal" data-target="#mdlOpportunityHistory">
                <i class="fas fa-history"></i>
              </a>

              <a href="javascript:;" title="Add Task">
                <i class="fas fa-tasks"></i>
              </a>

              <span class="dropdown">
                <a href="javascript:;" class="fas fa-ellipsis-h mr-0" data-toggle="dropdown"></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file"></i>
                    Add Log
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-people-arrows"></i>
                    Transfer Opportunity
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file-medical"></i>
                    Add Documents
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                  </a>
                </div>
              </span>
            </div>
          </div>
          <div class="opp-widget">
            <div class="name">Debasish Mohanty</div>
            <div>+91 9874562100</div>
            <div class="amount">
              <i class="fas fa-rupee"></i>
              <b>10,000</b>
            </div>
            <div class="icons">
              <a href="javascript:;" (click)="getopportunitydetails()" title="View Details">
                <i class="fas fa-eye"></i>
              </a>
              <a href="javascript:;" title="View History" data-toggle="modal" data-target="#mdlOpportunityHistory">
                <i class="fas fa-history"></i>
              </a>

              <a href="javascript:;" title="Add Task">
                <i class="fas fa-tasks"></i>
              </a>

              <span class="dropdown">
                <a href="javascript:;" class="fas fa-ellipsis-h mr-0" data-toggle="dropdown"></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file"></i>
                    Add Log
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-people-arrows"></i>
                    Transfer Opportunity
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file-medical"></i>
                    Add Documents
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                  </a>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="widget">
        <div class="header">
          <h6>Negotiation (0)</h6>
          <span>
            <i class="fas fa-rupee" style="font-size: 11px"></i>
            <span>0</span>
          </span>
          <a href="javascript:;" class="text-eva float-right">View Details</a>
        </div>
        <div class="body">
          <div class="no-data">
            <span>No Data Found</span>
          </div>
        </div>
      </div>

      <div class="widget">
        <div class="header">
          <h6>Payment (1)</h6>
          <span>
            <i class="fas fa-rupee" style="font-size: 11px"></i>
            <span>10,000</span>
          </span>
          <a href="javascript:;" class="text-eva float-right">View Details</a>
        </div>
        <div class="body">
          <div class="opp-widget">
            <div class="name">Debasish Mohanty</div>
            <div>+91 9874562100</div>
            <div class="amount">
              <i class="fas fa-rupee"></i>
              <b>10,000</b>
            </div>
            <div class="icons">
              <a href="javascript:;" (click)="getopportunitydetails()" title="View Details">
                <i class="fas fa-eye"></i>
              </a>
              <a href="javascript:;" title="View History" data-toggle="modal" data-target="#mdlOpportunityHistory">
                <i class="fas fa-history"></i>
              </a>

              <a href="javascript:;" title="Add Task">
                <i class="fas fa-tasks"></i>
              </a>

              <span class="dropdown">
                <a href="javascript:;" class="fas fa-ellipsis-h mr-0" data-toggle="dropdown"></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file"></i>
                    Add Log
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-people-arrows"></i>
                    Transfer Opportunity
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file-medical"></i>
                    Add Documents
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                  </a>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="widget">
        <div class="header">
          <h6>Lost (1)</h6>
          <span>
            <i class="fas fa-rupee" style="font-size: 11px"></i>
            <span>10,000</span>
          </span>
          <a href="javascript:;" class="text-eva float-right">View Details</a>
        </div>
        <div class="body">
          <div class="opp-widget">
            <div class="name">Debasish Mohanty</div>
            <div>+91 9874562100</div>
            <div class="amount">
              <i class="fas fa-rupee"></i>
              <b>10,000</b>
            </div>
            <div class="icons">
              <a href="javascript:;" (click)="getopportunitydetails()" title="View Details">
                <i class="fas fa-eye"></i>
              </a>
              <a href="javascript:;" title="View History" data-toggle="modal" data-target="#mdlOpportunityHistory">
                <i class="fas fa-history"></i>
              </a>

              <a href="javascript:;" title="Add Task">
                <i class="fas fa-tasks"></i>
              </a>

              <span class="dropdown">
                <a href="javascript:;" class="fas fa-ellipsis-h mr-0" data-toggle="dropdown"></a>
                <div class="dropdown-menu dropdown-menu-right">
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file"></i>
                    Add Log
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-people-arrows"></i>
                    Transfer Opportunity
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-file-medical"></i>
                    Add Documents
                  </a>
                  <a href="javascript:;" class="dropdown-item">
                    <i class="fas fa-trash-alt"></i>
                    Delete
                  </a>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Opportunity History Modal -->
<div class="modal fade" id="mdlOpportunityHistory" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 450px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Opportunity History</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body opp-history">
        <div class="timeline">
          <span class="img">
            <img src="../../../../assets/images/dollar-symbol.png" alt="" />
          </span>
          <div class="w-100">
            <span class="d-block">Date: 11.02.2020 11:10AM</span>
            <span>Opportunity created successfully.</span>
          </div>
        </div>
        <div class="timeline">
          <span class="img">
            <img src="../../../../assets/images/followup.png" alt="" />
          </span>
          <div class="w-100">
            <span class="d-block">Date: 16.02.2020 03:18PM</span>
            <span>Opportunity stage changed to <b>Follow-up</b>.</span>
          </div>
        </div>
        <div class="timeline">
          <span class="img">
            <img src="../../../../assets/images/review.png" alt="" />
          </span>
          <div class="w-100">
            <span class="d-block">Date: 21.02.2020 05:15PM</span>
            <span>Opportunity stage changed to <b>Review</b>.</span>
          </div>
        </div>
        <div class="timeline">
          <span class="img">
            <img src="../../../../assets/images/demo.png" alt="" />
          </span>
          <div class="w-100">
            <span class="d-block">Date: 23.02.2020 12:20PM</span>
            <span>Opportunity stage changed to <b>Demo</b>.</span>
          </div>
        </div>
        <div class="timeline">
          <span class="img">
            <img src="../../../../assets/images/negotiation.png" alt="" />
          </span>
          <div class="w-100">
            <span class="d-block">Date: 25.02.2020 02:20PM</span>
            <span>Opportunity stage changed to <b>Negotiation</b>.</span>
          </div>
        </div>
        <div class="timeline">
          <span class="img">
            <img src="../../../../assets/images/money-bag.png" alt="" />
          </span>
          <div class="w-100">
            <span class="d-block">Date: 26.02.2020 04:40PM</span>
            <span>Opportunity stage changed to <b>Payment</b>.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
