<div class="col-12 mb-3" style="font-size: 14px">
  <a href="setting.html" class="text-eva">Setting</a>
  <span> / </span>
  <span>Tags</span>
</div>

<div class="col-12">
  <div class="row">
    <div class="col-auto">
      <div class="nav flex-column nav-pills card mb-0" id="v-pills-tab" role="tablist">
        <a class="nav-link active" id="v-pills-contact-tab" data-toggle="pill" href="#v-pills-contact" role="tab"
          >Contact</a
        >
        <a class="nav-link" id="v-pills-account-tab" data-toggle="pill" href="#v-pills-account" role="tab">Account</a>
        <a class="nav-link" id="v-pills-opportunity-tab" data-toggle="pill" href="#v-pills-opportunity" role="tab"
          >Opportunity</a
        >
        <a class="nav-link" id="v-pills-task-tab" data-toggle="pill" href="#v-pills-task" role="tab">Task</a>
      </div>
    </div>
    <div class="col pl-0">
      <div class="tab-content" id="v-pills-tabContent">
        <div class="tab-pane fade show active" id="v-pills-contact" role="tabpanel">
          <div class="card tags-cntnr mb-0">
            <div class="header">
              <div class="row">
                <div class="col pr-0">
                  <h5>Contact Tags</h5>
                </div>
                <div class="col-auto text-right">
                  <input
                    type="button"
                    class="btn btn-eva mr-2"
                    value="Add Tag Group"
                    data-toggle="modal"
                    data-target="#mdlAddTagHeader"
                  />
                  <input
                    type="button"
                    class="btn btn-eva"
                    value="Add Tag"
                    data-toggle="modal"
                    data-target="#mdlAddTag"
                  />
                </div>
              </div>
            </div>

            <div class="body pb-0">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 pr-0">
                  <div class="card tags-widget">
                    <div class="header">
                      <h6>
                        <span>Technical Knowledge</span>
                        <span class="dropdown float-right">
                          <span class="nav-link c-pointer" data-toggle="dropdown">
                            <i class="fas fa-ellipsis-h"></i>
                          </span>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="javascript:;">
                              <i class="fas fa-pencil-alt"></i>
                              Edit
                            </a>
                            <a class="dropdown-item" href="javascript:;">
                              <i class="fas fa-trash-alt"></i>
                              Delete
                            </a>
                          </div>
                        </span>
                      </h6>
                    </div>
                    <div class="body">
                      <ul>
                        <li>
                          <span>Dot Net Developer</span>
                          <span class="action-btns">
                            <span class="fas fa-pencil-alt mr-1" data-toggle="modal" data-target="#mdlAddTag"></span>
                            <span class="fas fa-trash-alt"></span>
                          </span>
                        </li>
                        <li>
                          <span>Angular Developer</span>
                          <span class="action-btns">
                            <span class="fas fa-pencil-alt mr-1"></span>
                            <span class="fas fa-trash-alt"></span>
                          </span>
                        </li>
                        <li>
                          <span>PHP Developer</span>
                          <span class="action-btns">
                            <span class="fas fa-pencil-alt mr-1"></span>
                            <span class="fas fa-trash-alt"></span>
                          </span>
                        </li>
                        <li>
                          <span>Manual Testing</span>
                          <span class="action-btns">
                            <span class="fas fa-pencil-alt mr-1"></span>
                            <span class="fas fa-trash-alt"></span>
                          </span>
                        </li>
                      </ul>
                    </div>
                    <div class="footer">
                      <input type="text" class="form-control" placeholder="Add Tag Here..." />
                      <button type="button" class="btn btn-eva">
                        <i class="fas fa-paper-plane"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 pr-0">
                  <div class="card tags-widget">
                    <div class="header">
                      <h6>
                        <span>Position</span>
                        <span class="dropdown float-right">
                          <span class="nav-link c-pointer" data-toggle="dropdown">
                            <i class="fas fa-ellipsis-h"></i>
                          </span>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="javascript:;">
                              <i class="fas fa-pencil-alt"></i>
                              Edit
                            </a>
                            <a class="dropdown-item" href="javascript:;">
                              <i class="fas fa-trash-alt"></i>
                              Delete
                            </a>
                          </div>
                        </span>
                      </h6>
                    </div>
                    <div class="body">
                      <ul>
                        <li>
                          <span>Area Manager</span>
                          <span class="action-btns">
                            <span class="fas fa-pencil-alt mr-1"></span>
                            <span class="fas fa-trash-alt"></span>
                          </span>
                        </li>
                        <li>
                          <span>Regional Manager</span>
                          <span class="action-btns">
                            <span class="fas fa-pencil-alt mr-1"></span>
                            <span class="fas fa-trash-alt"></span>
                          </span>
                        </li>
                        <li>
                          <span>Sales Executive</span>
                          <span class="action-btns">
                            <span class="fas fa-pencil-alt mr-1"></span>
                            <span class="fas fa-trash-alt"></span>
                          </span>
                        </li>
                      </ul>
                    </div>
                    <div class="footer">
                      <input type="text" class="form-control" placeholder="Add Tag Here..." />
                      <button type="button" class="btn btn-eva">
                        <i class="fas fa-paper-plane"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 pr-0">
                  <div class="card tags-widget">
                    <div class="header">
                      <h6>
                        <span>Project Lebels</span>
                        <span class="dropdown float-right">
                          <span class="nav-link c-pointer" data-toggle="dropdown">
                            <i class="fas fa-ellipsis-h"></i>
                          </span>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="javascript:;">
                              <i class="fas fa-pencil-alt"></i>
                              Edit
                            </a>
                            <a class="dropdown-item" href="javascript:;">
                              <i class="fas fa-trash-alt"></i>
                              Delete
                            </a>
                          </div>
                        </span>
                      </h6>
                    </div>
                    <div class="body">
                      <ul>
                        <li>
                          <span>Project Lebel 1</span>
                          <span class="action-btns">
                            <span class="fas fa-pencil-alt mr-1"></span>
                            <span class="fas fa-trash-alt"></span>
                          </span>
                        </li>
                      </ul>
                    </div>
                    <div class="footer">
                      <input type="text" class="form-control" placeholder="Add Tag Here..." />
                      <button type="button" class="btn btn-eva">
                        <i class="fas fa-paper-plane"></i>
                      </button>
                    </div>
                  </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 pr-0">
                  <div class="card tags-widget">
                    <div class="header">
                      <h6>
                        <span>Work Capability</span>
                        <span class="dropdown float-right">
                          <span class="nav-link c-pointer" data-toggle="dropdown">
                            <i class="fas fa-ellipsis-h"></i>
                          </span>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="javascript:;">
                              <i class="fas fa-pencil-alt"></i>
                              Edit
                            </a>
                            <a class="dropdown-item" href="javascript:;">
                              <i class="fas fa-trash-alt"></i>
                              Delete
                            </a>
                          </div>
                        </span>
                      </h6>
                    </div>
                    <div class="body">
                      <ul>
                        <li>
                          <span>Expert in Industries</span>
                          <span class="action-btns">
                            <span class="fas fa-pencil-alt mr-1"></span>
                            <span class="fas fa-trash-alt"></span>
                          </span>
                        </li>
                        <li>
                          <span>New in Industries</span>
                          <span class="action-btns">
                            <span class="fas fa-pencil-alt mr-1"></span>
                            <span class="fas fa-trash-alt"></span>
                          </span>
                        </li>
                      </ul>
                    </div>
                    <div class="footer">
                      <input type="text" class="form-control" placeholder="Add Tag Here..." />
                      <button type="button" class="btn btn-eva">
                        <i class="fas fa-paper-plane"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="v-pills-account" role="tabpanel">
          <div class="card tags-cntnr mb-0">
            <div class="header">
              <div class="row">
                <div class="col pr-0">
                  <h5>Account Tags</h5>
                </div>
                <div class="col-auto text-right">
                  <input
                    type="button"
                    class="btn btn-eva mr-2"
                    value="Add Tag Group"
                    data-toggle="modal"
                    data-target="#mdlAddTagHeader"
                  />
                  <input
                    type="button"
                    class="btn btn-eva"
                    value="Add Tag"
                    data-toggle="modal"
                    data-target="#mdlAddTag"
                  />
                </div>
              </div>
            </div>

            <div class="body pb-0">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 pr-0">
                  <div class="card tags-widget">
                    <div class="header">
                      <h6>
                        <span>Technical Knowledge</span>
                        <span class="dropdown float-right">
                          <span class="nav-link c-pointer" data-toggle="dropdown">
                            <i class="fas fa-ellipsis-h"></i>
                          </span>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="javascript:;">
                              <i class="fas fa-pencil-alt"></i>
                              Edit
                            </a>
                            <a class="dropdown-item" href="javascript:;">
                              <i class="fas fa-trash-alt"></i>
                              Delete
                            </a>
                          </div>
                        </span>
                      </h6>
                    </div>
                    <div class="body">
                      <ul>
                        <li>
                          <span>Dot Net Developer</span>
                          <span class="action-btns">
                            <span class="fas fa-pencil-alt mr-1"></span>
                            <span class="fas fa-trash-alt"></span>
                          </span>
                        </li>
                        <li>
                          <span>Angular Developer</span>
                          <span class="action-btns">
                            <span class="fas fa-pencil-alt mr-1"></span>
                            <span class="fas fa-trash-alt"></span>
                          </span>
                        </li>
                        <li>
                          <span>PHP Developer</span>
                          <span class="action-btns">
                            <span class="fas fa-pencil-alt mr-1"></span>
                            <span class="fas fa-trash-alt"></span>
                          </span>
                        </li>
                        <li>
                          <span>Manual Testing</span>
                          <span class="action-btns">
                            <span class="fas fa-pencil-alt mr-1"></span>
                            <span class="fas fa-trash-alt"></span>
                          </span>
                        </li>
                      </ul>
                    </div>
                    <div class="footer">
                      <input type="text" class="form-control" placeholder="Add Tag Here..." />
                      <button type="button" class="btn btn-eva">
                        <i class="fas fa-paper-plane"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="v-pills-opportunity" role="tabpanel">
          <div class="card tags-cntnr mb-0">
            <div class="header">
              <div class="row">
                <div class="col pr-0">
                  <h5>Opportunity Tags</h5>
                </div>
                <div class="col-auto text-right">
                  <input
                    type="button"
                    class="btn btn-eva mr-2"
                    value="Add Tag Group"
                    data-toggle="modal"
                    data-target="#mdlAddTagHeader"
                  />
                  <input
                    type="button"
                    class="btn btn-eva"
                    value="Add Tag"
                    data-toggle="modal"
                    data-target="#mdlAddTag"
                  />
                </div>
              </div>
            </div>

            <div class="body pb-0">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 pr-0">
                  <div class="card tags-widget">
                    <div class="header">
                      <h6>
                        <span>Technical Knowledge</span>
                        <span class="dropdown float-right">
                          <span class="nav-link c-pointer" data-toggle="dropdown">
                            <i class="fas fa-ellipsis-h"></i>
                          </span>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="javascript:;">
                              <i class="fas fa-pencil-alt"></i>
                              Edit
                            </a>
                            <a class="dropdown-item" href="javascript:;">
                              <i class="fas fa-trash-alt"></i>
                              Delete
                            </a>
                          </div>
                        </span>
                      </h6>
                    </div>
                    <div class="body">
                      <ul>
                        <li>
                          <span>Dot Net Developer</span>
                          <span class="action-btns">
                            <span class="fas fa-pencil-alt mr-1"></span>
                            <span class="fas fa-trash-alt"></span>
                          </span>
                        </li>
                        <li>
                          <span>Angular Developer</span>
                          <span class="action-btns">
                            <span class="fas fa-pencil-alt mr-1"></span>
                            <span class="fas fa-trash-alt"></span>
                          </span>
                        </li>
                        <li>
                          <span>PHP Developer</span>
                          <span class="action-btns">
                            <span class="fas fa-pencil-alt mr-1"></span>
                            <span class="fas fa-trash-alt"></span>
                          </span>
                        </li>
                        <li>
                          <span>Manual Testing</span>
                          <span class="action-btns">
                            <span class="fas fa-pencil-alt mr-1"></span>
                            <span class="fas fa-trash-alt"></span>
                          </span>
                        </li>
                      </ul>
                    </div>
                    <div class="footer">
                      <input type="text" class="form-control" placeholder="Add Tag Here..." />
                      <button type="button" class="btn btn-eva">
                        <i class="fas fa-paper-plane"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane fade" id="v-pills-task" role="tabpanel">
          <div class="card tags-cntnr mb-0">
            <div class="header">
              <div class="row">
                <div class="col pr-0">
                  <h5>Task Tags</h5>
                </div>
                <div class="col-auto text-right">
                  <input
                    type="button"
                    class="btn btn-eva mr-2"
                    value="Add Tag Group"
                    data-toggle="modal"
                    data-target="#mdlAddTagHeader"
                  />
                  <input
                    type="button"
                    class="btn btn-eva"
                    value="Add Tag"
                    data-toggle="modal"
                    data-target="#mdlAddTag"
                  />
                </div>
              </div>
            </div>

            <div class="body pb-0">
              <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6 pr-0">
                  <div class="card tags-widget">
                    <div class="header">
                      <h6>
                        <span>Technical Knowledge</span>
                        <span class="dropdown float-right">
                          <span class="nav-link c-pointer" data-toggle="dropdown">
                            <i class="fas fa-ellipsis-h"></i>
                          </span>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="javascript:;">
                              <i class="fas fa-pencil-alt"></i>
                              Edit
                            </a>
                            <a class="dropdown-item" href="javascript:;">
                              <i class="fas fa-trash-alt"></i>
                              Delete
                            </a>
                          </div>
                        </span>
                      </h6>
                    </div>
                    <div class="body">
                      <ul>
                        <li>
                          <span>Dot Net Developer</span>
                          <span class="action-btns">
                            <span class="fas fa-pencil-alt mr-1"></span>
                            <span class="fas fa-trash-alt"></span>
                          </span>
                        </li>
                        <li>
                          <span>Angular Developer</span>
                          <span class="action-btns">
                            <span class="fas fa-pencil-alt mr-1"></span>
                            <span class="fas fa-trash-alt"></span>
                          </span>
                        </li>
                        <li>
                          <span>PHP Developer</span>
                          <span class="action-btns">
                            <span class="fas fa-pencil-alt mr-1"></span>
                            <span class="fas fa-trash-alt"></span>
                          </span>
                        </li>
                        <li>
                          <span>Manual Testing</span>
                          <span class="action-btns">
                            <span class="fas fa-pencil-alt mr-1"></span>
                            <span class="fas fa-trash-alt"></span>
                          </span>
                        </li>
                      </ul>
                    </div>
                    <div class="footer">
                      <input type="text" class="form-control" placeholder="Add Tag Here..." />
                      <button type="button" class="btn btn-eva">
                        <i class="fas fa-paper-plane"></i>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="mdlAddTagHeader" tabindex="-1">
  <div class="modal-dialog modal-sm modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Tag Group</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body task-details">
        <div class="mb-3">
          <label>Tag Display</label>
          <input type="text" class="form-control" value="Contact" disabled />
        </div>
        <div class="mb-3">
          <label>Tag Group Name</label>
          <input type="text" class="form-control" />
        </div>
        <div class="mb-4">
          <label>Header Type</label>
          <select class="form-control">
            <option>Select</option>
          </select>
        </div>
        <div class="text-center mb-1">
          <input type="button" class="btn btn-eva" value="Save" />
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add Tag Modal -->
<div class="modal fade" id="mdlAddTag" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 340px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Tag</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body task-details">
        <div class="mb-3">
          <label>Tag Display</label>
          <input type="text" class="form-control" value="Contact" disabled />
        </div>
        <div class="mb-3">
          <label>Tag Header Name</label>
          <select class="form-control">
            <option>Select</option>
          </select>
        </div>
        <div class="mb-3">
          <label>Tag Name</label>
          <input type="text" class="form-control" />
        </div>
        <div class="text-center mb-1">
          <input type="button" class="btn btn-eva" value="Save" />
        </div>
      </div>
    </div>
  </div>
</div>
