<div class="col-lg-9 col-md-9 col-sm-9 mb-3 mt-2" style="font-size: 14px">
  <span class="text-left">
    <a routerLink="/task" class="text-eva">Task</a>
    <span> / </span>
    <span>New building found</span>
  </span>
  <span class="float-right">
    <a routerLink="/task" class="text-eva">Back to List</a>
  </span>
</div>

<div class="col-12">
  <div class="row">
    <div class="col-9 col-lg-9 col-md-8 col-sm-8 border-right pr-0" style="border-color: #acacac">
      <div class="row">
        <div class="timelines">
          <div class="timeline">
            <div class="col-12">
              <div class="row w-100">
                <div class="col-lg col-md col-sm">
                  <div class="d-flex">
                    <span class="img">
                      <img src="../../assets/imgs/task-history/phone-ringing.png" alt="" />
                    </span>
                    <div class="details">
                      <span class="d-block">
                        <label>Date:</label>
                        <span>01.11.2020 11:10 AM</span>
                      </span>
                      <span class="lead-delg-med">
                        <span class="outer">
                          <label>Lead Name:</label>
                          <span>Ramesh Kumar Maharana</span>
                        </span>
                        <span class="outer">
                          <label>Delegated To:</label>
                          <span>Ramesh Kumar Maharana</span>
                        </span>
                        <span class="outer">
                          <label>Medium:</label>
                          <span>Call</span>
                        </span>
                      </span>
                      <span class="d-block">
                        <label>Description :</label>
                        <span>Call him every day regarding new project till dead line.</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-auto col-md-auto col-sm-auto pr-0 vertically-centered">
                  <span class="d-block mb-1">
                    <label>Scheduled On:</label>
                    <span>01.11.2020</span>
                  </span>
                  <span>
                    <label>Status:</label>
                    <span class="completed">Completed</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="timeline">
            <div class="col-12">
              <div class="row w-100">
                <div class="col-lg col-md col-sm">
                  <div class="d-flex">
                    <span class="img">
                      <img src="../../assets/imgs/task-history/message.png" alt="" />
                    </span>
                    <div class="details">
                      <span class="d-block">
                        <label>Date:</label>
                        <span>01.11.2020 11:10 AM</span>
                      </span>
                      <span class="lead-delg-med">
                        <span class="outer">
                          <label>Lead Name:</label>
                          <span>Ramesh Kumar Maharana</span>
                        </span>
                        <span class="outer">
                          <label>Delegated To:</label>
                          <span>Ramesh Kumar Maharana</span>
                        </span>
                        <span class="outer">
                          <label>Medium:</label>
                          <span>Mail</span>
                        </span>
                      </span>
                      <span class="d-block">
                        <label>Description :</label>
                        <span>Call him every day regarding new project till dead line.</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-auto col-md-auto col-sm-auto pr-0 vertically-centered">
                  <span class="d-block mb-1">
                    <label>Scheduled On:</label>
                    <span>01.11.2020</span>
                  </span>
                  <span>
                    <label>Status:</label>
                    <span class="completed">Completed</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="timeline">
            <div class="col-12">
              <div class="row w-100">
                <div class="col-lg col-md col-sm">
                  <div class="d-flex">
                    <span class="img">
                      <img src="../../assets/imgs/task-history/chat.png" alt="" />
                    </span>
                    <div class="details">
                      <span class="d-block">
                        <label>Date:</label>
                        <span>01.11.2020 11:10 AM</span>
                      </span>
                      <span class="lead-delg-med">
                        <span class="outer">
                          <label>Lead Name:</label>
                          <span>Ramesh Kumar Maharana</span>
                        </span>
                        <span class="outer">
                          <label>Delegated To:</label>
                          <span>Ramesh Kumar Maharana</span>
                        </span>
                        <span class="outer">
                          <label>Medium:</label>
                          <span>Chat</span>
                        </span>
                      </span>
                      <span class="d-block">
                        <label>Description :</label>
                        <span>Call him every day regarding new project till dead line.</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-auto col-md-auto col-sm-auto pr-0 vertically-centered">
                  <span class="d-block mb-1">
                    <label>Scheduled On:</label>
                    <span>01.11.2020</span>
                  </span>
                  <span>
                    <label>Status:</label>
                    <span class="completed">Completed</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="timeline">
            <div class="col-12">
              <div class="row w-100">
                <div class="col-lg col-md col-sm">
                  <div class="d-flex">
                    <span class="img">
                      <img src="../../assets/imgs/task-history/message.png" alt="" />
                    </span>
                    <div class="details">
                      <span class="d-block">
                        <label>Date:</label>
                        <span>01.11.2020 11:10 AM</span>
                      </span>
                      <span class="lead-delg-med">
                        <span class="outer">
                          <label>Lead Name:</label>
                          <span>Ramesh Kumar Maharana</span>
                        </span>
                        <span class="outer">
                          <label>Delegated To:</label>
                          <span>Ramesh Kumar Maharana</span>
                        </span>
                        <span class="outer">
                          <label>Medium:</label>
                          <span>Mail</span>
                        </span>
                      </span>
                      <span class="d-block">
                        <label>Description :</label>
                        <span>Call him every day regarding new project till dead line.</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-auto col-md-auto col-sm-auto pr-0 vertically-centered">
                  <span class="d-block mb-1">
                    <label>Scheduled On:</label>
                    <span>01.11.2020</span>
                  </span>
                  <span>
                    <label>Status:</label>
                    <span class="completed">Completed</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="timeline">
            <div class="col-12">
              <div class="row w-100">
                <div class="col-lg col-md col-sm">
                  <div class="d-flex">
                    <span class="img">
                      <!-- ../../assets/imgs/task- -->
                      <img src="../../assets/imgs/task-history/chat.png" alt="" />
                    </span>
                    <div class="details">
                      <span class="d-block">
                        <label>Date:</label>
                        <span>01.11.2020 11:10 AM</span>
                      </span>
                      <span class="lead-delg-med">
                        <span class="outer">
                          <label>Lead Name:</label>
                          <span>Ramesh Kumar Maharana</span>
                        </span>
                        <span class="outer">
                          <label>Delegated To:</label>
                          <span>Ramesh Kumar Maharana</span>
                        </span>
                        <span class="outer">
                          <label>Medium:</label>
                          <span>Chat</span>
                        </span>
                      </span>
                      <span class="d-block">
                        <label>Description :</label>
                        <span>Call him every day regarding new project till dead line.</span>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-lg-auto col-md-auto col-sm-auto pr-0 vertically-centered">
                  <span class="d-block mb-1">
                    <label>Scheduled On:</label>
                    <span>01.11.2020</span>
                  </span>
                  <span>
                    <label>Status:</label>
                    <span class="completed">Completed</span>
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3 col-lg-3 col-md-4 col-sm-4">
      <div class="filters">
        <h5>Filter</h5>
        <div class="dropdown mb-4">
          <a class="btn btn-light dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown">
            All Time Periods
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:;">Last 7 days</a>
            <a class="dropdown-item" href="javascript:;">Last 15 days</a>
            <a class="dropdown-item" href="javascript:;">Last month</a>
            <a class="dropdown-item" href="javascript:;">Last 6 months</a>
            <a class="dropdown-item" href="javascript:;">This year</a>
          </div>
        </div>

        <h6>Activity Type</h6>
        <ul>
          <li>
            <img src="../../assets/imgs/task-history/phone-ringing.png" alt="" />
            <span>Call</span>
            <span class="count">(5)</span>
            <span class="float-right">
              <input type="checkbox" />
            </span>
          </li>
          <li>
            <img src="../../assets/imgs/task-history/message.png" alt="" />
            <span>Mail</span>
            <span class="count">(1)</span>
            <span class="float-right">
              <input type="checkbox" />
            </span>
          </li>
          <li>
            <img src="../../assets/imgs/task-history/chat.png" alt="" />
            <span>Chat</span>
            <span class="count">(7)</span>
            <span class="float-right">
              <input type="checkbox" />
            </span>
          </li>
          <li>
            <img src="../../assets/imgs/task-history/whatsapp.png" alt="" />
            <span>Whatsapp</span>
            <span class="count">(5)</span>
            <span class="float-right">
              <input type="checkbox" />
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
