<div class="login-container">
  <div class="login-box">
    <div class="container">
      <div class="card mx-auto login-card">
        <div class="card-img text-center">
          <img class="d-block mx-auto mb-2 logo" src="assets/EvA-logo.png" alt="angular logo" />
          <h4 class="card-title text-center" translate>Reset_Password_Header</h4>
          <p translate>Reset_Password_Subtitle</p>
        </div>
        <div class="card-body login-card-body">
          <form [formGroup]="resetPasswordForm" novalidate>
            <div class="alert alert-danger" [hidden]="!error || isLoading" translate>Invalid_Email</div>

            <div class="form-group">
              <label for="code" translate
                >Code
                <span translate>Code_Subtitle</span>
              </label>
              <div class="input-group mb-2">
                <input type="text" class="form-control" id="inlineFormInputGroup" formControlName="code" />
                <img src="/assets/auth/Log in ID.png" alt="Code" />
              </div>
              <span hidden translate>Code</span>
              <small [hidden]="form.code.valid || form.code.untouched" class="text-danger" translate>
                <div *ngIf="form.code.errors?.required" translate>Code_Required</div>
              </small>
            </div>

            <div class="form-group">
              <label for="password" translate>New Password</label>
              <div class="input-group mb-2">
                <input type="text" class="form-control" id="password" formControlName="password" />
                <img src="/assets/auth/Password.png" alt="new password" />
              </div>
              <span hidden translate>New Password</span>
              <small [hidden]="form.password.valid || form.password.untouched" class="text-danger" translate>
                <div *ngIf="form.password.errors?.required" translate>Password_Required</div>
                <div *ngIf="form.password.errors?.pattern" translate>Password_Policy</div>
              </small>
            </div>

            <div class="form-group">
              <label for="confirmPassword" translate>Confirm Password</label>
              <div class="input-group mb-2">
                <input type="text" class="form-control" id="confirmPassword" formControlName="confirmPassword" />
                <img src="/assets/auth/Password.png" alt="confirm-password" />
              </div>
              <span hidden translate>Confirm Password</span>
              <small
                [hidden]="form.confirmPassword.valid || form.confirmPassword.untouched"
                class="text-danger"
                translate
              >
                <div *ngIf="form.confirmPassword.errors?.required" translate>Confirm_Required</div>
              </small>
              <small
                class="text-danger"
                translate
                *ngIf="form.confirmPassword.valid && resetPasswordForm.errors?.notMatch"
              >
                Password_Match_Error
              </small>
            </div>

            <button class="btn w-100" type="submit" [disabled]="resetPasswordForm.invalid || isLoading">
              <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
              <span translate>Reset</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
