<div class="container-fluid">
  <div class="jumbotron">
    <h5>
      <span translate>Settings.Admin_Settings</span>
    </h5>
    <div class="settings-section">
      <div class="settings-inner-section">
        <div class="row">
          <div class="col-sm-12">
            <div class="settings-text-header" translate>Settings.Users_and_Permissions</div>
            <div class="settings-text-sub-header" translate>Settings.Users_and_Permissions_Info</div>
          </div>
        </div>
        <hr />
        <div class="row settings-sub-section">
          <div class="col-sm-6">
            <div class="row settings-box" routerLink="/add-user">
              <div class="col-md-1 col-sm-2">
                <img class="img-setting" src="../../assets/user.png" alt="User" />
              </div>
              <div class="col-md-11 col-sm-10">
                <span translate>Settings.User</span>
                <div class="settings-text-info" translate>Settings.User_Info</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row settings-box">
              <div class="col-md-1 col-sm-2">
                <img class="img-setting" src="../../assets/territories.png" alt="Territories" />
              </div>
              <div class="col-md-11 col-sm-10">
                <span translate>Settings.Territories</span>
                <div class="settings-text-info" translate>Settings.Territories_Info</div>
              </div>
            </div>
          </div>
        </div>
        <div class="row settings-sub-section">
          <div class="col-sm-6">
            <div class="row settings-box">
              <div class="col-md-1 col-sm-2">
                <img class="img-setting" src="../../assets/role.png" alt="Roles" />
              </div>
              <div class="col-md-11 col-sm-10">
                <span translate>Settings.Roles</span>
                <div class="settings-text-info" translate>Settings.Roles_Info</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6" routerLink="/teams">
            <div class="row settings-box">
              <div class="col-md-1 col-sm-2">
                <img class="img-setting" src="../../assets/teams.png" alt="Teams" />
              </div>
              <div class="col-md-11 col-sm-10">
                <span translate>Settings.Teams</span>
                <div class="settings-text-info" translate>Settings.Teams_Info</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="settings-section">
      <div class="settings-inner-section bg-white">
        <div class="row">
          <div class="col-sm-12">
            <div class="settings-text-header" translate>Settings.Other_Settings</div>
          </div>
        </div>
        <hr />
        <div class="row settings-sub-section">
          <div class="col-sm-6">
            <div class="row settings-box">
              <div class="col-md-1 col-sm-2">
                <img class="img-setting" src="../../assets/currency.png" alt="Currency" />
              </div>
              <div class="col-md-11 col-sm-10">
                <span translate>Settings.Currency</span>
                <div class="settings-text-info" translate>Settings.Currency_Info</div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="row settings-box" routerLink="/add-tag">
              <div class="col-md-1 col-sm-2">
                <img class="img-setting" src="../../assets/tags.png" alt="Tags" />
              </div>
              <div class="col-md-11 col-sm-10">
                <span translate>Settings.Tags</span>
                <div class="settings-text-info" translate>Settings.Tags_Info</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
