<div class="col-lg-9 col-md-8 col-sm-8 mb-3" style="font-size: 14px">
  <span class="text-left">
    <a href="javascript:void(0)" class="text-eva" (click)="getaccountlist()">Account</a>
    <span> / </span>
    <a href="javascript:void(0)" class="text-eva" (click)="getaccountdetail()">KFC</a>
    <span> / </span>
    <span>History</span>
  </span>
</div>

<div class="col-12">
  <div class="row">
    <div class="col-lg-9 col-md-8 col-sm-8 border-right pr-0" style="border-color: #acacac">
      <div class="timelines">
        <div class="timeline">
          <div class="img">
            <img src="../../../../assets/images/lead-added.png" alt="" />
          </div>
          <div class="details">
            <div class="date">
              <b>Date: 01.11.2020 11:10 AM</b>
              <span class="created-by">
                <label class="mr-1">by</label>
                <img src="../../../../assets/images/profile-pic-3.png" alt="" class="mr-1" />
                <span class="name-desig">Sudhir Ranjan Das, Sales Executive</span>
              </span>
            </div>
            <div class="contact-details">
              <label>Contact Name:</label>
              <span>Debasish Mohanty</span>
              <span>Manager</span>
              <span>+91 9874563021</span>
            </div>
            <div>Lead created successfully</div>
          </div>
        </div>
        <div class="timeline">
          <div class="img">
            <img src="../../../../assets/images/task-added.png" alt="" />
          </div>
          <div class="details">
            <div class="date">
              <b>Date: 04.11.2020 12:30AM</b>
              <span class="created-by">
                <label class="mr-1">by</label>
                <img src="../../../../assets/images/profile-pic-3.png" alt="" class="mr-1" />
                <span class="name-desig">Sudhir Ranjan Das, Sales Executive</span>
              </span>
            </div>
            <div class="contact-details">
              <label>Contact Name:</label>
              <span>Suman Kumar Das</span>
              <span>Sales Head</span>
              <span>+91 9874563021</span>
            </div>
            <div>Task Added: Follow up meeting</div>
            <div class="status">
              <span class="mr-2">Open</span>
              <span class="selected mr-2">Rescheduled</span>
              <span>Completed</span>
            </div>
          </div>
        </div>
        <div class="timeline">
          <div class="img">
            <img src="../../../../assets/images/note.png" alt="" />
          </div>
          <div class="details">
            <div class="date">
              <b>Date: 14.11.2020 11:10 AM</b>
              <span class="created-by">
                <label class="mr-1">by</label>
                <img src="../../../../assets/images/profile-pic-3.png" alt="" class="mr-1" />
                <span class="name-desig">Sudhir Ranjan Das, Sales Executive</span>
              </span>
            </div>
            <div class="contact-details">
              <label>Contact Name:</label>
              <span>Madhurima Padhi</span>
              <span>Director</span>
              <span>+91 9856325698</span>
            </div>
            <div>Note added : I follow-up client web page</div>
          </div>
        </div>
      </div>

      <div class="touchpoints">
        <h5>Touchpoints</h5>
        <span>35</span>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-4">
      <div class="filters">
        <h5>Filter</h5>
        <div class="dropdown mb-4">
          <a class="btn btn-light dropdown-toggle" href="javascript:;" role="button" data-toggle="dropdown">
            All Time Periods
          </a>

          <div class="dropdown-menu">
            <a class="dropdown-item" href="javascript:;">Last 7 days</a>
            <a class="dropdown-item" href="javascript:;">Last 15 days</a>
            <a class="dropdown-item" href="javascript:;">Last month</a>
            <a class="dropdown-item" href="javascript:;">Last 6 months</a>
            <a class="dropdown-item" href="javascript:;">This year</a>
          </div>
        </div>

        <h6>Activity Type</h6>
        <ul>
          <li>
            <img src="../../../../assets/images/phone-ringing.png" alt="" />
            <span>Call</span>
            <span class="count">(5)</span>
            <span class="float-right">
              <input type="checkbox" />
            </span>
          </li>
          <li>
            <img src="../../../../assets/images/opportunity.png" alt="" />
            <span>Opportunity</span>
            <span class="count">(1)</span>
            <span class="float-right">
              <input type="checkbox" />
            </span>
          </li>
          <li>
            <img src="../../../../assets/images/note.png" alt="" />
            <span>Note</span>
            <span class="count">(7)</span>
            <span class="float-right">
              <input type="checkbox" />
            </span>
          </li>
          <li>
            <img src="../../../../assets/images/appointment.png" alt="" />
            <span>Appointment</span>
            <span class="count">(5)</span>
            <span class="float-right">
              <input type="checkbox" />
            </span>
          </li>
          <li>
            <img src="../../../../assets/images/message.png" alt="" />
            <span>Email</span>
            <span class="count">(4)</span>
            <span class="float-right">
              <input type="checkbox" />
            </span>
          </li>
        </ul>

        <h6 class="mt-4">Contacts</h6>
        <ul>
          <li>
            <img src="../../../../assets/images/user.png" alt="" />
            <span>Debasish Mohanty</span>
            <span class="float-right">
              <input type="checkbox" />
            </span>
          </li>
          <li>
            <img src="../../../../assets/images/user.png" alt="" />
            <span>Madhurima Padhy</span>
            <span class="float-right">
              <input type="checkbox" />
            </span>
          </li>
          <li>
            <img src="../../../../assets/images/user.png" alt="" />
            <span>Suman Kumar Das</span>
            <span class="float-right">
              <input type="checkbox" />
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
