<div class="login-container">
  <div class="login-box">
    <div class="container">
      <div class="card mx-auto login-card">
        <div class="card-img text-center">
          <img class="d-block mx-auto mb-2 logo" src="assets/EvA-logo.png" alt="angular logo" />
          <h4 class="card-title text-center" translate>Forgot_Password_Title</h4>
          <p translate>Forgot_Password_Subtitle</p>
        </div>
        <div class="card-body login-card-body">
          <form [formGroup]="form" novalidate>
            <div class="alert alert-danger" [hidden]="!error || isLoading" translate>Invalid_Email</div>

            <div class="form-group">
              <label for="email" translate>Email</label>
              <div class="input-group mb-2">
                <input type="text" class="form-control" id="inlineFormInputGroup" formControlName="email" />
                <img src="/assets/auth/Email.png" alt="Username" />
              </div>
              <span hidden translate>Email</span>
              <small
                [hidden]="form.controls.email.valid || form.controls.email.untouched"
                class="text-danger"
                translate
              >
                <div *ngIf="form.controls.email.errors?.required" translate>Email_Required</div>
                <div *ngIf="form.controls.email.errors?.email" translate>Invalid_Email</div>
              </small>
            </div>

            <a [routerLink]="['/reset-password']">
              <button class="btn w-100 btn-otp" type="button" translate>Send_Reset_Link</button>
            </a>
            <!-- <button class="btn w-100" type="submit" [disabled]="form.invalid || isLoading">
              <i class="fas fa-cog fa-spin" [hidden]="!isLoading"></i>
              <span translate>Send reset link</span>
            </button> -->
            <p class="p-login" translate>Ohh! I remember? <a [routerLink]="['/login']" translate>Back_To_Login</a></p>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
