<div class="modal-body">
  <span class="add-menu-header" translate>RECORDS</span>
  <div class="row add-menu-padding-20">
    <div class="col-sm-4 text-align-center hoverCursor">
      <img class="img-add-menu" src="../../../assets/opportunity-orange.png" />
      <div class="add-menu-text" (click)="addOpportunity()" translate>Add_Opportunity</div>
    </div>
    <div class="col-sm-4 text-align-center hoverCursor">
      <img class="img-add-menu" src="../../../assets/contact-orange.png" />
      <div class="add-menu-text" (click)="addContact()" translate>Add_Contact</div>
    </div>
    <div class="col-sm-4 text-align-center hoverCursor">
      <img class="img-add-menu" src="../../../assets/account-lite-orange.png" />
      <div class="add-menu-text" (click)="addAccount()" translate>Add_Account</div>
    </div>
  </div>
  <span class="add-menu-header" translate>ACTIVITIES</span>
  <div class="row add-menu-padding-20">
    <div class="col-sm-4 text-align-center hoverCursor" (click)="addTask()">
      <img class="img-add-menu" src="../../../assets/task-orange.png" />
      <div class="add-menu-text" translate>Add_Task</div>
    </div>
    <div class="col-sm-4 text-align-center hoverCursor">
      <img class="img-add-menu" src="../../../assets/phone-book-lite-orange.png" />
      <div class="add-menu-text" translate>Add_Call_Log</div>
    </div>
  </div>
  <span class="add-menu-header" translate>ACTIVITIES</span>
  <div class="row add-menu-padding-20">
    <div class="col-sm-4 text-align-center hoverCursor">
      <img class="img-add-menu" src="../../../assets/task-orange.png" />
      <div class="add-menu-text" translate>Add_Task</div>
    </div>
    <div class="col-sm-4 text-align-center hoverCursor">
      <img class="img-add-menu" src="../../../assets/calendar-orange.png" />
      <div class="add-menu-text" translate>Add_Appointment</div>
    </div>
    <div class="col-sm-4 text-align-center hoverCursor">
      <img class="img-add-menu" src="../../../assets/task-orange.png" />
      <div class="add-menu-text" translate>Add_Call_Log</div>
    </div>
  </div>
</div>
