img.img-setting {
  width: 36px;
}

.settings-section {
  padding-bottom: 12px;
}

.settings-inner-section {
  border-radius: 12px;
  padding: 12px;
  margin-bottom: 10px;
}

.settings-sub-section {
  padding-left: 0;
}

.settings-text-header {
  font-size: 18px;
  font-weight: 450;
  position: relative;
}

.settings-text-sub-header {
  font-size: 14px;
}

.settings-text-info {
  font-size: 12px;
}

.settings-box {
  border: 2px dashed #e5e5e5;
  border-radius: 12px;
  margin: 5px;
  padding-top: 14px;
  padding-bottom: 14px;
  min-height: 80px;
}

.settings-box span {
  color: #8a8888;
}

// thead {
//   background: #e5e5e5;
// }
// .col-sm-12 {
//   font-size: 14px;
// }
// button#lnkbtn {
//   background: #e5e5e5;
//   color: black;
// }

.slide-form {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1111;
  transition: transform 0.5s ease-in-out;
}

.slide-form.show-me {
  transform: translateX(0);
}

.slide-form.hide-me {
  transform: translateX(150%);
}

.slide-form .form-widget {
  position: fixed;
  top: 0;
  right: 0;
  width: 400px;
  height: 100vh;
  background: #ffffff;
}

.slide-form .form-widget .header {
  width: 100%;
  padding: 7px 12px 8px 12px;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}

.slide-form .form-widget .header h4 {
  font-size: 20px;
  margin: 0;
  display: inline-block;
}

.slide-form .form-widget .header span.close {
  position: absolute;
  font-size: 24px;
  line-height: 1;
  right: 8px;
  top: 8px;
  color: #949494;
  cursor: pointer;
  display: inline-block;
}

.slide-form .form-widget .body {
  width: 100%;
  height: calc(100vh - 95px);
  overflow-x: hidden;
  overflow-y: auto;
  padding: 7px 12px 8px 12px;
  position: relative;
  border-bottom: 1px solid #e5e5e5;
}

.slide-form .form-widget .footer {
  width: 100%;
  padding: 10px 12px 10px 12px;
  position: relative;
}

/**

.btn {
  border: none;
  padding: 6px 25px;
  font-size: 14px;
  outline: none;
  transition: background 0.25s ease-in-out;
}

.btn.btn-cancel {
  background: #3a3a3a;
  color: #ffffff;
}

.btn.btn-cancel:hover {
  background: #d2d2d2;
  color: #ffffff;
}

.btn.btn-submit {
  background: #ea9531;
  color: #ffffff;
}

.btn.btn-submit:hover {
  background: #ca7e24;
  color: #ffffff;
}
td#sample {
  color: #ca7e24;
}

.search-team-inp {
  border-radius: 0px;
  border: 2px solid #e5e5e5;
}

.create-team-btn {
  background-color: gray;
  border: 1px solid gray;
  text-transform: none;
}

.create-team-icn {
  color: black;
  background-color: floralwhite;
  border: 1px solid #e5e5e5;
}

.page-title {
  font-size: 18px;
  font-family: "Nunito-Regular";
  position: relative;
  top: 6px;
}
*/

/**
*
* CSS for the new HTML
*
*/
.team-members {
  padding-right: 27px !important;
  padding-bottom: 0 !important;
}

.team-members .team-member {
  display: flex;
  position: relative;
  margin-bottom: 15px;
}

.team-members .team-member img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 12px;
  position: relative;
  top: 5px;
}

.team-members .team-member .card {
  width: 100%;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
  padding: 8px 12px 6px 12px;
  margin-bottom: 0;
}

.team-members .team-member .card h5 {
  font-size: 16px;
  margin-bottom: 4px;
}
