<div class="col-12">
  <div class="card filters">
    <div class="inner-top">
      <div class="row">
        <div class="col-lg col-md-auto col-sm-auto">
          <span class="page-title">
            <a href="javascript:void(0)" routerLink="/contact">Contact</a>
            <span> / </span>
            <span> Contact Details </span>
          </span>
        </div>
        <div class="col-lg col-md col-sm text-right">
          <button type="button" class="btn btn-outline-light mr-2">
            <i class="fas fa-envelope"></i>
            Mail
          </button>
          <button type="button" class="btn btn-outline-light mr-2">
            <i class="fas fa-file-export"></i>
            Export
          </button>
          <button type="button" class="btn btn-outline-light mr-2">
            <i class="fas fa-pencil-alt"></i>
            Edit
          </button>
          <button type="button" class="btn btn-outline-light mr-2">
            <i class="fas fa-trash-alt"></i>
            Delete
          </button>
          <button type="button" class="btn btn-secondary">
            <i class="fas fa-cog"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-12">
  <div class="card">
    <div class="row">
      <div class="col-lg-8 col-col-md-8 col-sm-12 border-right" style="border-color: #acacac">
        <div class="contact-details">
          <div class="short-details">
            <img src="././../../../../assets/images//profile-pic.png" alt="" />
            <div>
              <h4>Debasish Mohanty</h4>
              <span class="d-block">Sales Manager, Google</span>
              <span class="d-block">California, USA</span>
            </div>
          </div>

          <div class="details-view all-details">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 mb-10">
                <div class="row">
                  <div class="col-lg-4 col-md-5 pr-0">
                    <b>Email ID</b>
                  </div>
                  <div class="col-lg-8 col-md-7">dmohanty@gmail.com</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 mb-10">
                <div class="row">
                  <div class="col-lg-4 col-md-5 pr-0">
                    <b>Sales Owner</b>
                  </div>
                  <div class="col-lg-8 col-md-7">Somanath Satapathy</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 mb-10">
                <div class="row">
                  <div class="col-lg-4 col-md-5 pr-0">
                    <b>Mobile Number</b>
                  </div>
                  <div class="col-lg-8 col-md-7">9875201470</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 mb-10">
                <div class="row">
                  <div class="col-lg-4 col-md-5 pr-0">
                    <b>Last Contacted</b>
                  </div>
                  <div class="col-lg-8 col-md-7">2 days ago</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 mb-10">
                <div class="row">
                  <div class="col-lg-4 col-md-5 pr-0">
                    <b>Address</b>
                  </div>
                  <div class="col-lg-8 col-md-7">Beckford St. California</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 mb-10">
                <div class="row">
                  <div class="col-lg-4 col-md-5 pr-0">
                    <b>Account Name</b>
                  </div>
                  <div class="col-lg-8 col-md-7">Google Inc</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 mb-10">
                <div class="row">
                  <div class="col-lg-4 col-md-5 pr-0">
                    <b>Country</b>
                  </div>
                  <div class="col-lg-8 col-md-7">USA</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 mb-10">
                <div class="row">
                  <div class="col-lg-4 col-md-5 pr-0">
                    <b>Account Address</b>
                  </div>
                  <div class="col-lg-8 col-md-7">Beckford St. California</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 mb-10">
                <div class="row">
                  <div class="col-lg-4 col-md-5 pr-0">
                    <b>Zip Code</b>
                  </div>
                  <div class="col-lg-8 col-md-7">100062</div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 mb-10">
                <div class="row">
                  <div class="col-lg-4 col-md-5 pr-0">
                    <b>Account Zip Code</b>
                  </div>
                  <div class="col-lg-8 col-md-7">100062</div>
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <h4>Visiting Card Details</h4>
                <div class="row">
                  <div class="col pr-0">
                    <img src="../../../../assets/images/v-front.png" alt="" class="w-100" />
                  </div>
                  <div class="col">
                    <img src="../../../../assets/images/v-back.png" alt="" class="w-100" />
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <h4>Tags</h4>
                <div class="tag-grp">
                  <b>Technical Knowledge</b>
                  <div>Dot Net Developer, Python Developer</div>
                </div>
                <div class="tag-grp">
                  <b>Position</b>
                  <div>Area Manager, Regional Manager</div>
                </div>
                <div class="tag-grp">
                  <b>Work Capability</b>
                  <div>Expert in Industries</div>
                </div>
                <div class="tag-grp">
                  <b>Job Profile</b>
                  <div>B. Tech</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-col-md-4 col-sm-12">
        <div class="summary-details">
          <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 pr-lg-0 pr-md-0 pr-sm-0">
              <div class="card summary">
                <h6>Logs</h6>
                <div class="row">
                  <div class="col pr-0">
                    <div class="label-count c-pointer" onclick="showSidePopup('#dvCallLog')">
                      <h4 class="count">2</h4>
                      <small class="label">Call Log</small>
                    </div>
                  </div>
                  <div class="col">
                    <div class="label-count c-pointer" onclick="showSidePopup('#dvJournalLog')">
                      <h4 class="count">2</h4>
                      <small class="label">Journal Log</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4">
              <div class="card touchpoints">
                <h4 class="count">22</h4>
                <small class="label">Touchpoints</small>
              </div>
            </div>

            <div class="col-12">
              <div class="card summary">
                <h6>
                  Opportunity <span>($1250.00)</span>
                  <span class="float-right action-btns">
                    <button
                      type="button"
                      class="btn btn-secondary mr-2"
                      data-toggle="modal"
                      data-target="#mdlOpportunities"
                    >
                      <i class="fas fa-eye"></i>
                    </button>
                    <button type="button" class="btn btn-eva">
                      <i class="fas fa-plus"></i>
                    </button>
                  </span>
                </h6>
                <div class="row">
                  <div class="col pr-0">
                    <div class="label-count">
                      <h4 class="count">2</h4>
                      <small class="label">Open</small>
                    </div>
                  </div>
                  <div class="col pr-0">
                    <div class="label-count">
                      <h4 class="count">2</h4>
                      <small class="label">Won</small>
                    </div>
                  </div>
                  <div class="col">
                    <div class="label-count">
                      <h4 class="count">0</h4>
                      <small class="label">Lost</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="card summary">
                <h6>
                  Task
                  <span class="float-right action-btns">
                    <button type="button" class="btn btn-secondary mr-2" data-toggle="modal" data-target="#mdlTasks">
                      <i class="fas fa-eye"></i>
                    </button>
                    <button type="button" class="btn btn-eva">
                      <i class="fas fa-plus"></i>
                    </button>
                  </span>
                </h6>
                <div class="row">
                  <div class="col pr-0">
                    <div class="label-count">
                      <h4 class="count">7</h4>
                      <small class="label">Due</small>
                    </div>
                  </div>
                  <div class="col pr-0">
                    <div class="label-count">
                      <h4 class="count">12</h4>
                      <small class="label">Completed</small>
                    </div>
                  </div>
                  <div class="col">
                    <div class="label-count">
                      <h4 class="count">2</h4>
                      <small class="label">Overdue</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12">
              <div class="card summary">
                <h6>
                  Appointment
                  <span class="float-right action-btns">
                    <button
                      type="button"
                      class="btn btn-secondary mr-2"
                      data-toggle="modal"
                      data-target="#mdlAppointments"
                    >
                      <i class="fas fa-eye"></i>
                    </button>
                    <button type="button" class="btn btn-eva">
                      <i class="fas fa-plus"></i>
                    </button>
                  </span>
                </h6>
                <div class="row">
                  <div class="col pr-0">
                    <div class="label-count">
                      <h4 class="count">3</h4>
                      <small class="label">Scheduled</small>
                    </div>
                  </div>
                  <div class="col pr-0">
                    <div class="label-count">
                      <h4 class="count">10</h4>
                      <small class="label">Completed</small>
                    </div>
                  </div>
                  <div class="col">
                    <div class="label-count">
                      <h4 class="count">1</h4>
                      <small class="label">Cancelled</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Opportunities Modal -->
<div class="modal fade" id="mdlOpportunities" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 600px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <span class="mr-5">Opportunities</span>
          <small class="mr-3">Count: 3</small>
          <small>Amount: $100.00</small>
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body opportunities">
        <div class="opportunity">
          <div class="row">
            <div class="col pr-0">
              <label>Esplanade Rasulgarh</label>
              <span class="mr-2">
                <b>Created on:</b>
                <span>24-11-2020 10:10 AM</span>
              </span>
              <span>
                <b>By:</b>
                <span>Somnath Kundu</span>
              </span>
              <div class="w-100 mt-1">
                <span class="mr-2">
                  <b>Status:</b>
                  <span>Open</span>
                </span>
                <span>
                  <b>Amount:</b>
                  <span>
                    <i class="fas fa-rupee"></i>
                    <span>250.00</span>
                  </span>
                </span>
              </div>
            </div>
            <div class="col-auto vertically-centered">
              <input type="button" class="btn btn-eva" value="View Details" />
            </div>
          </div>
        </div>
        <div class="opportunity">
          <div class="row">
            <div class="col pr-0">
              <label>Esplanade Rasulgarh</label>
              <span class="mr-2">
                <b>Created on:</b>
                <span>24-11-2020 10:10 AM</span>
              </span>
              <span>
                <b>By:</b>
                <span>Somnath Kundu</span>
              </span>
              <div class="w-100 mt-1">
                <span class="mr-2">
                  <b>Status:</b>
                  <span>Open</span>
                </span>
                <span>
                  <b>Amount:</b>
                  <span>
                    <i class="fas fa-rupee"></i>
                    <span>250.00</span>
                  </span>
                </span>
              </div>
            </div>
            <div class="col-auto vertically-centered">
              <input type="button" class="btn btn-eva" value="View Details" />
            </div>
          </div>
        </div>
        <div class="opportunity">
          <div class="row">
            <div class="col pr-0">
              <label>Esplanade Rasulgarh</label>
              <span class="mr-2">
                <b>Created on:</b>
                <span>24-11-2020 10:10 AM</span>
              </span>
              <span>
                <b>By:</b>
                <span>Somnath Kundu</span>
              </span>
              <div class="w-100 mt-1">
                <span class="mr-2">
                  <b>Status:</b>
                  <span>Open</span>
                </span>
                <span>
                  <b>Amount:</b>
                  <span>
                    <i class="fas fa-rupee"></i>
                    <span>250.00</span>
                  </span>
                </span>
              </div>
            </div>
            <div class="col-auto vertically-centered">
              <input type="button" class="btn btn-eva" value="View Details" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Tasks Modal -->
<div class="modal fade" id="mdlTasks" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 600px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <span class="mr-5">Tasks</span>
          <small class="mr-3">Due: 3</small>
          <small class="mr-3">Completed: 13</small>
          <small>Overdue: 2</small>
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body tasks">
        <div class="task">
          <div class="row">
            <div class="col pr-0">
              <label>New building found</label>
              <span class="mr-2">
                <b>Created on:</b>
                <span>24-11-2020 10:10 AM</span>
              </span>
              <span>
                <b>By:</b>
                <span>Somnath Kundu</span>
              </span>
              <div class="w-100 mt-1">
                <span class="mr-2">
                  <b>Scheduled on:</b>
                  <span>10-11-2020 10:30AM</span>
                </span>
                <span>
                  <b>Status:</b>
                  <span>Due</span>
                </span>
              </div>
            </div>
            <div class="col-auto vertically-centered">
              <input type="button" class="btn btn-eva" value="View Details" />
            </div>
          </div>
        </div>
        <div class="task">
          <div class="row">
            <div class="col pr-0">
              <label>New building found</label>
              <span class="mr-2">
                <b>Created on:</b>
                <span>24-11-2020 10:10 AM</span>
              </span>
              <span>
                <b>By:</b>
                <span>Somnath Kundu</span>
              </span>
              <div class="w-100 mt-1">
                <span class="mr-2">
                  <b>Scheduled on:</b>
                  <span>10-11-2020 10:30AM</span>
                </span>
                <span>
                  <b>Status:</b>
                  <span>Due</span>
                </span>
              </div>
            </div>
            <div class="col-auto vertically-centered">
              <input type="button" class="btn btn-eva" value="View Details" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Appointments Modal -->
<div class="modal fade" id="mdlAppointments" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" style="max-width: 600px">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          <span class="mr-5">Appointments</span>
          <small class="mr-3">Scheduled: 3</small>
          <small class="mr-3">Completed: 13</small>
          <small>Calcelled: 2</small>
        </h5>
        <button type="button" class="close" data-dismiss="modal">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body appointments">
        <div class="appointment">
          <label>Meeting scheduled at office</label>
          <span class="mr-2">
            <b>Created on:</b>
            <span>24-11-2020 10:10 AM</span>
          </span>
          <span class="float-right">
            <b>By:</b>
            <span>Somnath Kundu</span>
          </span>
          <div class="w-100 mt-1">
            <span class="mr-2">
              <b>Scheduled on:</b>
              <span>10-11-2020 10:30AM</span>
            </span>
            <span class="float-right">
              <b>Status:</b>
              <span>Due</span>
            </span>
          </div>
        </div>
        <div class="appointment">
          <label>Meeting scheduled at office</label>
          <span class="mr-2">
            <b>Created on:</b>
            <span>24-11-2020 10:10 AM</span>
          </span>
          <span class="float-right">
            <b>By:</b>
            <span>Somnath Kundu</span>
          </span>
          <div class="w-100 mt-1">
            <span class="mr-2">
              <b>Scheduled on:</b>
              <span>10-11-2020 10:30AM</span>
            </span>
            <span class="float-right">
              <b>Status:</b>
              <span>Due</span>
            </span>
          </div>
        </div>
        <div class="appointment">
          <label>Meeting scheduled at office</label>
          <span class="mr-2">
            <b>Created on:</b>
            <span>24-11-2020 10:10 AM</span>
          </span>
          <span class="float-right">
            <b>By:</b>
            <span>Somnath Kundu</span>
          </span>
          <div class="w-100 mt-1">
            <span class="mr-2">
              <b>Scheduled on:</b>
              <span>10-11-2020 10:30AM</span>
            </span>
            <span class="float-right">
              <b>Status:</b>
              <span>Due</span>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Journal Log Side Pop-up -->
<div id="dvJournalLog" class="side-form hide-me">
  <div class="inner">
    <div class="header">
      <h4>Journal Log</h4>
      <span class="close" onclick="hideSidePopup('#dvJournalLog')">&times;</span>
    </div>
    <div class="body journal-log">
      <textarea class="form-control" rows="6" placeholder="Type log here..."></textarea>
      <div class="w-100 text-right mb-3">
        <input type="button" class="btn btn-reset mr-2" value="Reset" />
        <input type="button" class="btn btn-eva" value="Save" />
      </div>

      <div class="logs">
        <div class="log w-100">
          <div>Had a call with James. Requested the proposal document and pricing quote asap.</div>
          <div>
            <b>Created on:</b>
            <span>10-11-2020 10:30AM</span>
          </div>
        </div>
        <div class="log w-100">
          <div>Had a call with James. Requested the proposal document and pricing quote asap.</div>
          <div>
            <b>Created on:</b>
            <span>10-11-2020 10:30AM</span>
          </div>
        </div>
        <div class="log w-100">
          <div>Had a call with James. Requested the proposal document and pricing quote asap.</div>
          <div>
            <b>Created on:</b>
            <span>10-11-2020 10:30AM</span>
          </div>
        </div>
        <div class="log w-100">
          <div>Had a call with James. Requested the proposal document and pricing quote asap.</div>
          <div>
            <b>Created on:</b>
            <span>10-11-2020 10:30AM</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Call Log Side Pop-up -->
<div id="dvCallLog" class="side-form hide-me">
  <div class="inner">
    <div class="header">
      <h4>Call Log</h4>
      <span class="close" onclick="hideSidePopup('#dvCallLog')">&times;</span>
    </div>
    <div class="body call-log">
      <div class="row border-bottom pb-3 mb-2">
        <div class="col-12">
          <div class="row">
            <div class="col-lg col-md col-sm mb-10">
              <label class="d-block">Call Type</label>
              <select class="form-control form-control-sm">
                <option>Select</option>
              </select>
            </div>
            <div class="col-lg col-md col-sm pl-0 mb-10">
              <label class="d-block">Outcome</label>
              <select class="form-control form-control-sm">
                <option>Select</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-lg col-md col-sm mb-10">
              <label class="d-block">Associate this phone call with ?</label>
              <select class="form-control form-control-sm">
                <option>Select</option>
              </select>
            </div>
            <div class="col-lg col-md col-sm pl-0 mb-10">
              <label class="d-block">Name</label>
              <select class="form-control form-control-sm">
                <option>Select</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-12 mb-10">
          <label class="d-block">Description</label>
          <textarea class="form-control" rows="2"></textarea>
        </div>
        <div class="col-12 text-right mt-1">
          <input type="button" class="btn btn-reset mr-2" value="Reset" />
          <input type="button" class="btn btn-eva" value="Save" />
        </div>
      </div>

      <div class="logs">
        <div class="log">
          <div class="row">
            <div class="col-lg col-md col-sm pr-lg-0 pr-md-0 pr-sm-0 mb-1">
              <b>Call Type:</b>
              <span>Outgoing</span>
            </div>
            <div class="col-lg col-md col-sm pr-lg-0 pr-md-0 pr-sm-0 mb-1 text-center">
              <b>Outcome:</b>
              <span>Left Message</span>
            </div>
            <div class="col-lg col-md col-sm mb-1 text-right">
              <b>Status:</b>
              <span>New Lead</span>
            </div>
          </div>
          <div class="mb-1">Had a call with James. Requested the proposal document and pricing quote asap.</div>
          <div class="row">
            <div class="col-lg col-md col-sm pr-lg-0 pr-md-0 pr-sm-0 mb-1">
              <b>Name:</b>
              <span>Somnath Kundu</span>
            </div>
            <div class="col-lg col-md col-sm mb-1 text-right">
              <b>Created on:</b>
              <span>10-11-2020 10:30AM</span>
            </div>
          </div>
        </div>
        <div class="log">
          <div class="row">
            <div class="col-lg col-md col-sm pr-lg-0 pr-md-0 pr-sm-0 mb-1">
              <b>Call Type:</b>
              <span>Outgoing</span>
            </div>
            <div class="col-lg col-md col-sm pr-lg-0 pr-md-0 pr-sm-0 mb-1 text-center">
              <b>Outcome:</b>
              <span>Left Message</span>
            </div>
            <div class="col-lg col-md col-sm mb-1 text-right">
              <b>Status:</b>
              <span>New Lead</span>
            </div>
          </div>
          <div class="mb-1">Had a call with James. Requested the proposal document and pricing quote asap.</div>
          <div class="row">
            <div class="col-lg col-md col-sm pr-lg-0 pr-md-0 pr-sm-0 mb-1">
              <b>Name:</b>
              <span>Somnath Kundu</span>
            </div>
            <div class="col-lg col-md col-sm mb-1 text-right">
              <b>Created on:</b>
              <span>10-11-2020 10:30AM</span>
            </div>
          </div>
        </div>
        <div class="log">
          <div class="row">
            <div class="col-lg col-md col-sm pr-lg-0 pr-md-0 pr-sm-0 mb-1">
              <b>Call Type:</b>
              <span>Outgoing</span>
            </div>
            <div class="col-lg col-md col-sm pr-lg-0 pr-md-0 pr-sm-0 mb-1 text-center">
              <b>Outcome:</b>
              <span>Left Message</span>
            </div>
            <div class="col-lg col-md col-sm mb-1 text-right">
              <b>Status:</b>
              <span>New Lead</span>
            </div>
          </div>
          <div class="mb-1">Had a call with James. Requested the proposal document and pricing quote asap.</div>
          <div class="row">
            <div class="col-lg col-md col-sm pr-lg-0 pr-md-0 pr-sm-0 mb-1">
              <b>Name:</b>
              <span>Somnath Kundu</span>
            </div>
            <div class="col-lg col-md col-sm mb-1 text-right">
              <b>Created on:</b>
              <span>10-11-2020 10:30AM</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
